/* Estilos para el componente de creación de tableros */

.crear-tablero-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .logo {
    flex: 1;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .search-bar input[type="text"] {
    margin-right: 10px;
    padding: 8px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .formulario-container {
    display: flex;
    justify-content: center;
  }
  
  .contenido {
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container {
    text-align: center;
  }
  
  .button-container button {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:last-child {
    margin-right: 0;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  