.favoritos-container {
  padding: 20px;
}

.favoritos-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.pin {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.pin img {
  width: 100%;
  border-radius: 5px;
}

.pin h2 {
  margin-top: 10px;
  font-size: 18px;
}

.pin p {
  margin-top: 5px;
  font-size: 14px;
}

h2{
  color: #ddd;
}